ai-calendar-specialist.json.json
{
  "name": "AI Calendar Specialist",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "name"
            },
            {
              "name": "email"
            },
            {
              "name": "phone"
            },
            {
              "name": "service"
            },
            {
              "name": "date"
            },
            {
              "name": "time"
            },
            {
              "name": "confirmation",
              "type": "boolean"
            },
            {
              "name": "timezone"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        0
      ],
      "id": "a5578dfc-5ba5-4695-99bb-9e89fe70edb8",
      "name": "Receive Booking Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are the AURA Calendar Specialist.\n\nYour only responsibility is preparing validated appointment data for the scheduling workflow.\n\nThe business timezone is Asia/Manila (Philippine Time).\n\nWorkflow (Execute sequentially. Never skip a step.)\n\nSTEP 1\n\nIf the customer's timezone is not Asia/Manila:\n\n- Convert the requested appointment into Asia/Manila time.\n- Use ONLY the converted date and time for all calendar operations.\n- Preserve the customer's original date, time and timezone for responses.\n\nSTEP 2\n\nUse Build Appointment Time.\n\nDo not continue until you have valid RFC3339 start and end timestamps.\n\nSTEP 3\n\nVerify the appointment is within business hours.\n\nBusiness Hours:\n- Monday to Friday\n- 9:00 AM – 5:00 PM (Asia/Manila)\n\nIf outside business hours:\n- Inform the customer of the business hours.\n- Ask them to choose another time.\n- STOP.\n\nSTEP 4\n\nReject appointments in the past.\n\nIf the requested appointment is in the past:\n- Inform the customer.\n- Ask them to choose a future date and time.\n- STOP.\n\nSTEP 5\n\nUse Check Availability.\n\nSTEP 6\n\nIf the requested slot is unavailable:\n\n- Inform the customer the slot is unavailable.\n- Suggest another available time.\n- STOP.\n\nSTEP 7\n\nIf confirmation is FALSE:\n\n- Tell the customer the slot is available.\n- Show:\n  • Service\n  • Date\n  • Time (Philippine Time)\n- Ask:\n  \"Would you like me to confirm this booking?\"\n- STOP.\n\nSTEP 8\n\nIf confirmation is TRUE:\n\n- Return ONLY structured output.\n\nRequired fields:\n\n- action\n- name\n- email\n- phone\n- service\n- timezone\n- start\n- end\n\nIf confirmation is FALSE:\n- Respond conversationally.\n- Do NOT use structured output.\n\n\n##Rules\n\n- Follow the workflow exactly.\n- Never skip a step.\n- Never invent availability.\n- Never assume a booking exists.\n- Never claim an appointment has been booked.\n- Never claim a confirmation email has been sent.\n- Never mention internal tools or workflow logic.\n- Keep responses concise and professional.\n- Return the final booking using the configured Structured Output Parser."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        352,
        0
      ],
      "id": "6c1c2815-50ee-46e4-a53a-e9cdfa589687",
      "name": "AI Calendar Decision"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "vagongona@gmail.com",
          "mode": "list",
          "cachedResultName": "vagongona@gmail.com"
        },
        "start": "={{ $json.output.start }}",
        "end": "={{ $json.output.end }}",
        "additionalFields": {
          "description": "=Name: {{ $json.output.name }}\n\nEmail: {{ $json.output.email }}\n\nPhone: {{ $json.output.phone }}\n\nTimezone: {{ $json.output.timezone }}",
          "summary": "={{ $json.output.name }} - {{ $json.output.service }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        784,
        0
      ],
      "id": "2dd9d0be-ec15-4c15-a17f-5c4dd714dd4f",
      "name": "Create Google Calendar Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GQuu8ftton3q3kLa",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1L4Dy8HP2mD2p0M2EMsQftLE9Z67uhXOlkao8Pyy2moo",
          "mode": "list",
          "cachedResultName": "Booked Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L4Dy8HP2mD2p0M2EMsQftLE9Z67uhXOlkao8Pyy2moo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L4Dy8HP2mD2p0M2EMsQftLE9Z67uhXOlkao8Pyy2moo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('AI Calendar Decision').item.json.output.name }}",
            "Email": "={{ $('AI Calendar Decision').item.json.output.email }}",
            "Phone": "={{ $('AI Calendar Decision').item.json.output.phone }}",
            "Appointment Date": "={{ DateTime.fromISO($('AI Calendar Decision').first().json.output.start).toFormat('MMMM d, yyyy') }}",
            "Appointment Time": "={{ DateTime.fromISO($('AI Calendar Decision').first().json.output.start).toFormat('h:mm a') }}",
            "Timezone": "={{ $('AI Calendar Decision').item.json.output.timezone }}",
            "Status": "Booked",
            "Timestamp": "={{ $now }}",
            "Google Event Link": "={{ $('Create Google Calendar Event').first().json.htmlLink }}",
            "Google Event UID": "={{ $('Create Google Calendar Event').first().json.iCalUID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Appointment Date",
              "displayName": "Appointment Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Appointment Time",
              "displayName": "Appointment Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timezone",
              "displayName": "Timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Google Event Link",
              "displayName": "Google Event Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Google Event UID",
              "displayName": "Google Event UID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        0
      ],
      "id": "96278686-2332-4496-b35c-afd1030f4479",
      "name": "Log Appointment",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3JVIc4OlLd1nhsit",
          "name": "Google Auth"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('AI Calendar Decision').first().json.output.email }}",
        "subject": "Appointment Confirmed",
        "message": "=Hi {{ $('AI Calendar Decision').first().json.output.name }},\n\nYour appointment has been confirmed.\n\n📅 Start:\n{{ $('AI Calendar Decision').first().json.output.start }}\n\n🌍 Timezone:\n{{ $('AI Calendar Decision').first().json.output.timezone }}\n\nView your booking:\n\n{{ $('Create Google Calendar Event').first().json.htmlLink }}\n\nThank you!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1232,
        0
      ],
      "id": "a30fb9fe-9137-46f3-894e-cc02d3c87d10",
      "name": "Send Confirmation Email",
      "webhookId": "ecd47483-f585-4312-8a6c-1a42333e6516",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZOHL8ByszcZIP2rp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        288,
        224
      ],
      "id": "b61859fc-390d-473d-a3c5-b4958cf7abbb",
      "name": "GPT-4.1-mini",
      "credentials": {
        "openAiApi": {
          "id": "RBGD7IyvJioCsHv4",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "vagongona@gmail.com",
          "mode": "list",
          "cachedResultName": "vagongona@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ $json.start }}",
        "timeMax": "={{ $json.end }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        416,
        224
      ],
      "id": "1c31e7c6-775a-4615-a0f8-5cf54da0d644",
      "name": "Check Calendar Availability",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GQuu8ftton3q3kLa",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"action\": {\n      \"type\": \"string\"\n    },\n    \"name\": {\n      \"type\": \"string\"\n    },\n    \"email\": {\n      \"type\": \"string\"\n    },\n    \"phone\": {\n      \"type\": \"string\"\n    },\n    \"service\": {\n      \"type\": \"string\"\n    },\n    \"timezone\": {\n      \"type\": \"string\"\n    },\n    \"start\": {\n      \"type\": \"string\",\n      \"format\": \"date-time\"\n    },\n    \"end\": {\n      \"type\": \"string\",\n      \"format\": \"date-time\"\n    }\n  },\n  \"required\": [\n    \"action\",\n    \"name\",\n    \"email\",\n    \"phone\",\n    \"service\",\n    \"timezone\",\n    \"start\",\n    \"end\"\n  ],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        544,
        224
      ],
      "id": "2cf6bb37-509a-47cd-b989-10b56c53fb6b",
      "name": "Appointment JSON Schema"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        624,
        432
      ],
      "id": "a9eef71f-ad80-4863-8f13-7aaa95297ed1",
      "name": "GPT (Parser)",
      "credentials": {
        "openAiApi": {
          "id": "RBGD7IyvJioCsHv4",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Booking Request\n\nReceives and prepares appointment details\nfrom the AI Receptionist.",
        "height": 384,
        "width": 416,
        "color": "#262626"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        -160
      ],
      "id": "9cdbae49-7949-41b9-b9d6-0aa92c7e26c4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## AI Scheduling\n\nValidates the request, checks calendar\navailability, and decides whether to book.",
        "height": 384,
        "width": 528,
        "color": "#262626"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        224,
        -160
      ],
      "id": "5eecc910-02d6-4903-ab0c-2ca5cc00f231",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Booking & Confirmation\n\nCreates the calendar event, logs the booking,\nand sends a confirmation email.",
        "height": 384,
        "width": 624,
        "color": "#262626"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        768,
        -160
      ],
      "id": "fc03e58f-47b7-48ae-9253-f5089397bd15",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\nconst { date, time } = item.json;\n\nif (!date || !time) {\n  throw new Error(`Missing required fields. date=${date}, time=${time}`);\n}\n\n// Parse time\nlet hours, minutes;\n\nif (time.includes(\"AM\") || time.includes(\"PM\")) {\n  const [clock, period] = time.split(\" \");\n  [hours, minutes] = clock.split(\":\").map(Number);\n\n  if (period === \"PM\" && hours !== 12) hours += 12;\n  if (period === \"AM\" && hours === 12) hours = 0;\n} else {\n  [hours, minutes] = time.split(\":\").map(Number);\n}\n\n// Build local Date\nconst start = new Date(`${date}T${String(hours).padStart(2, \"0\")}:${String(minutes).padStart(2, \"0\")}:00`);\n\nconst end = new Date(start);\nend.setHours(end.getHours() + 1);\n\nreturn [{\n  json: {\n    ...item.json,\n    start: start.toISOString(),\n    end: end.toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        0
      ],
      "id": "340f90f8-999e-4b33-a37c-cc101ea83a12",
      "name": "Build Appointment Schedule"
    }
  ],
  "pinData": {},
  "connections": {
    "Receive Booking Request": {
      "main": [
        [
          {
            "node": "Build Appointment Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Calendar Decision": {
      "main": [
        [
          {
            "node": "Create Google Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Calendar Event": {
      "main": [
        [
          {
            "node": "Log Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Appointment": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Calendar Decision",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check Calendar Availability": {
      "ai_tool": [
        [
          {
            "node": "AI Calendar Decision",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Appointment JSON Schema": {
      "ai_outputParser": [
        [
          {
            "node": "AI Calendar Decision",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "GPT (Parser)": {
      "ai_languageModel": [
        [
          {
            "node": "Appointment JSON Schema",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Build Appointment Schedule": {
      "main": [
        [
          {
            "node": "AI Calendar Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Manila",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "f8c38cde-4785-46ec-a610-128bcdbb0011",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7bdff68572df42f53ed0c673c5e3562dc76e5a70b470bf557bec9e18154bc3ff"
  },
  "nodeGroups": [],
  "id": "cvu2wAOx2aGvU6y3",
  "tags": []
}