ai-receptionist.json.json
{
  "name": "AI Receptionist",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        352,
        224
      ],
      "id": "d036e4d3-c7ee-4348-86a5-01c36d0c5095",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "e5376737-b9a5-437b-98d4-3b75370329aa",
      "name": "Chat Trigger",
      "webhookId": "604d8588-9754-4aa6-b2c8-820d811a2fd8"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are AURA, a professional AI receptionist.\n\nYour responsibilities:\n- Greet customers naturally.\n- Answer business questions using your available tools.\n- Collect booking information naturally.\n- Never ask for information you already know.\n- Keep responses concise and friendly.\n\nThe business operates in Asia/Manila (Philippine Time).\n\nWhen a customer wants to book an appointment:\n\nRequired information:\n- Name\n- Email\n- Phone\n- Service\n- Preferred Date\n- Preferred Time\n- Timezone\n\nRules:\n\n- Timezone is REQUIRED.\n- Never guess the customer's timezone.\n- If any required field is missing, ask ONLY for the missing field.\n- Never call the Calendar Specialist until ALL required fields have been collected.\n\nToday's business date (Asia/Manila) is:\n{{ $now.setZone('Asia/Manila').toFormat('yyyy-MM-dd') }}\n\nUse this date as the reference when interpreting:\n- today\n- tomorrow\n- next Monday\n- next Friday\n- or any relative date.\n\nIf the customer does not specify a year:\n- Assume the current year.\n- If that date has already passed, use the next future occurrence.\n- Never assume 2024 unless the customer explicitly says 2024.\n- Never ask \"Do you mean this year?\" Automatically determine the correct year.\n\nAs soon as a valid date is known:\n- Validate that it is not in the past.\n- If it is in the past, immediately ask the customer for another date.\n- Do not continue collecting additional booking information until the date is valid.\n\nAppointment duration is always 1 hour unless the customer explicitly requests otherwise.\n\nBooking workflow:\n\n1. Collect all required information.\n2. Call the Calendar Specialist.\n3. If the Calendar Specialist requests confirmation, ask the customer for confirmation.\n4. Only after the customer explicitly confirms, call the Calendar Specialist again with confirmation=true.\n5. Never create bookings yourself."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        0
      ],
      "id": "f3ff791f-d865-49e3-bf7c-06c0b204156b",
      "name": "AI Receptionist"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        224
      ],
      "id": "f5b7cb91-8a8e-4bad-a5cf-4c5bb4447a87",
      "name": "gpt-4.1-mini",
      "credentials": {
        "openAiApi": {
          "id": "RBGD7IyvJioCsHv4",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "description": "Use this tool whenever a customer wants to book, reschedule, or cancel an appointment.\n\nInput:\n- name\n- email\n- phone\n- service\n- requested date\n- requested time\n- confirmation\n\nThe tool will:\n- Check availability\n- Ask for confirmation if needed\n- Create the booking after confirmation\n- Send a confirmation email",
        "workflowId": {
          "__rl": true,
          "value": "cvu2wAOx2aGvU6y3",
          "mode": "list",
          "cachedResultUrl": "/workflow/cvu2wAOx2aGvU6y3",
          "cachedResultName": "AURA - Calendar Specialist"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "confirmation": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('confirmation', ``, 'boolean') }}",
            "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phone', ``, 'string') }}",
            "service": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('service', ``, 'string') }}",
            "date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}",
            "time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('time', ``, 'string') }}",
            "timezone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('timezone', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "service",
              "displayName": "service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "confirmation",
              "displayName": "confirmation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "timezone",
              "displayName": "timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        480,
        224
      ],
      "id": "e5cdd124-345d-432e-b839-4680378d55fe",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "content": "## AI Receptionist\n\nHandles customer conversations, collects booking details,\nand delegates scheduling to the Calendar Agent.",
        "height": 560,
        "width": 848,
        "color": "#262626"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        -176
      ],
      "id": "52ac3294-acb3-4084-b571-66ff35ce25e6",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Receptionist",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Receptionist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Receptionist": {
      "main": [
        []
      ]
    },
    "gpt-4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Receptionist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Receptionist",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Manila",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "123a336c-9acb-47c5-9180-9273488b766c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7bdff68572df42f53ed0c673c5e3562dc76e5a70b470bf557bec9e18154bc3ff"
  },
  "nodeGroups": [],
  "id": "ZLBVOruQlIlTLbk7",
  "tags": []
}